{% extends 'base.html.twig' %}
{% block metaTitle %}{{ actualite.titre }}{% endblock %}
{% block title %}{{ actualite.titre }}{% endblock %}
{% block metaDesc %}{{ actualite.texte|striptags|slice(0, 200) }}{% endblock %}
{% block metaWords %}étude, études, actualités, actus{% endblock %}
{% block share %}
    <meta property="og:url"           content="{{ path('view_one_actu', {'slug': actualite.slug}) }}" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="{{ actualite.titre }}" />
    <meta property="og:image"         content="{{ asset('images/backgrounds/Mad_scientist_transparent_background_mirroir.svg.png') }}" />
    <link rel="me" href="https://twitter.com/twitterdev">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/fbShare.js') }}"></script>
    <script src="{{ asset('js/twitterShare.js') }}"></script>
    <script src="{{ asset('js/scrollspy.js') }}"></script>
    <script src="{{ asset('js/froala_editor.min.js') }}"></script>
    <script src="{{ asset('js/fr.js') }}"></script>
    <script src="{{ asset('js/emoticons.min.js') }}"></script>
    <script src="{{ asset('js/align.min.js') }}"></script>
    <script src="{{ asset('js/quote.min.js') }}"></script>
    <script src="{{ asset('js/image.min.js') }}"></script>
    <script src="{{ asset('js/image_manager.min.js') }}"></script>
    <script src="{{ asset('js/link.min.js') }}"></script>
    <script src="{{ asset('js/list.min.js') }}"></script>
{% endblock %}
{% block body %}
<section class="row">
    <article class="col m12 l8 ">
        <div class="z-depth-2 all-actu">
            <div class="all-actu-titre center">
                <h3>{{ actualite.titre }}</h3>
            </div>
            <div class=" all-actu-date">
                Le {{ actualite.dateAjout|date('d-m-Y') }} à {{ actualite.dateAjout|date('H:i') }}
            </div>
            <div class="actu-actions">
                <div class="fb-like" data-href="{{ path('view_one_actu', {'slug': actualite.slug})
                }}" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
                <a class="twitter-share-button"
                   href="https://twitter.com/intent/tweet?text={{ actualite.titre }}" data-url="{{ path('view_one_actu', {'slug': actualite.slug})
                }}">Tweet</a>
            </div>
            <div class="all-actu-texte fr-view">
                {{ actualite.texte|raw }}
            </div>
        </div>
    </article>
    <aside class="col m12 l4">

    </aside>
    {% if actualite|length > 2 %}
    <aside class="col m12 l4 ">
        <div class="z-depth-2 last-actu last-five-actu">
            <div class="last-actu-label">
                <p>Dernières actualités</p>
            </div>
            {% for lfa in fiveActu %}
            <a href="{{ path('view_one_actu', {'slug': lfa.slug}) }}">
                <div class="last-actu-content">
                    <span>Le {{ lfa.dateAjout|date('d-m-Y') }}</span>
                    <h3>{{ lfa.titre }}</h3>
                </div>
            </a>
            {% endfor %}
            <div class="last-actu-link">
                <a href="{{ path('all_actualites') }}">Toutes les actualites</a>
            </div>
        </div>
    </aside>
    {% endif %}
</section>
    <section class="row">
        <article class="col m12 l8 ">
            <div class="block-comments z-depth-2">
                <div class="bandeau-comments">
                    <p>{{ actualite.commentaires|length }} commentaires</p>
                    <p><a href="#ancre-comments">Ecrire un commentaire</a></p>
                </div>
                <div>
                    {% for com in actualite.commentaires %}
                        <div id="commentaire-{{ com.id }}" class="all-comments z-depth-2">
                            <div class="all-comments-infos">
                                <p>
                                    {% if com.user %}
                                        Par <strong>{{ com.user.username }}</strong>
                                    {% else %}
                                        Par <em>Pseudo supprimé</em>
                                    {% endif %}
                                    le {{ com.dateAjout|date('d-m-Y') }} à {{ com.dateAjout|date('H:i') }}
                                </p>
                                {% if com.actif == true %}
                                    <a href="{{ path('etude_signale_comment', {'id': com.id}) }}"
                                       class="signale tooltipped" data-position="top" data-tooltip="Signaler ce
                                commentaire" onclick="return confirm('Etes-vous sûr de vouloir signaler ce ' +
                                 'commentaire' +
                                 ' ?')">
                                        <i class="material-icons">report</i>
                                    </a>
                                {% endif %}
                            </div>
                            <div class="all-comments-texte fr-view">
                                {% if com.actif != true %}
                                    <em>Ce commentaire est jugé inapproprié et a été modéré.</em>
                                {% else %}
                                    {{ com.texte|raw }}
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <span id="ancre-comments" class="scrollspy"></span>
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') or is_granted('IS_AUTHENTICATED_FULLY') %}
                    <div class="block-comments-instructions">
                        <p>Pour que les discussions restent agréables, nous vous remercions de rester poli et
                            courtois. Tout message jugés inappropriés seront modérés.</p>
                    </div>
                    {{ form_start(form) }}
                    <div>
                        {{ form_label(form.texte, 'Votre message :') }}
                        {{ form_widget(form.texte) }}
                        {{ form_errors(form.texte) }}
                    </div>
                    <div class="center">
                        {{ form_widget(form.envoyer) }}
                    </div>
                    {{ form_end(form) }}
                {% else %}
                    <p>
                        Vous devez être <a href="{{ path('login') }}">connecté</a> pour écrire un commentaire.
                    </p>
                    <p>
                        Pas encore de compte ? <a href="{{ path('user_registration') }}">Inscrivez-vous</a> simplement en quelque secondes.
                    </p>
                {% endif %}
            </div>
        </article>
    </section>
{% endblock %}
