{% extends 'base.html.twig' %}
{% block share %}
    <meta property="og:url"           content="{{ path('view_one_actu', {'slug': actualite.slug}) }}" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="{{ actualite.titre }}" />
    <meta property="og:description"   content="{{ actualite.texte }}" />
    <meta property="og:image"         content="" />
    <link rel="me" href="https://twitter.com/twitterdev">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/fbShare.js') }}"></script>
    <script src="{{ asset('js/twitterShare.js') }}"></script>
{% endblock %}
{% block body %}
<section class="row">
    <article class="col m12 l8 actu">
        <div class="z-depth-2">
            <div class="actu-date center">
                Le {{ actualite.dateAjout|date('d-m-Y') }} à {{ actualite.dateAjout|date('H:i') }}
            </div>
            <div class="actu-titre">
                <h3>{{ actualite.titre }}</h3>
            </div>
            <div class="actu-texte">
                {{ actualite.texte|raw }}
            </div>
            <div class="row">
            <div class="col s12 actu-actions-pad">
                <div class="actu-actions center">
                    <div class="fb-like" data-href="{{ path('view_one_actu', {'slug': actualite.slug})
                    }}" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
                    <a class="twitter-share-button"
                       href="https://twitter.com/intent/tweet?text={{ actualite.titre }}" data-url="{{ path('view_one_actu', {'slug': actualite.slug})
                    }}">Tweet</a>
                </div>
            </div>
            </div>
        </div>
    </article>
</section>

{% endblock %}
