{% extends 'base.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/admintables.js') }}"></script>
{% endblock %}
{% block body %}
    {% include 'admin/nav/navAdmin.html.twig' %}

    <div class="row">
        <div id="admin" class="col s12 admin-gestion-table">
            <div class="card material-table">
                <div class="table-header">
                    <span class="table-title">Gestion des études</span>
                    <div class="actions">
                        <a href="#" class="search-toggle waves-effect btn-flat nopadding"><i class="material-icons">search</i></a>
                    </div>
                </div>
                <table id="" class="datatable">
                    <thead>
                    <tr>
                        <th>E-mail</th>
                        <th class="center">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for mail in listMail %}
                        <tr>
                            <td>{{ mail.email }}</td>
                            <td class="center">
                                    <a href="{{ path('admin_list_newsletter_mail_delete',{'id': mail.id}) }}"
                                       onclick="return confirm('Etes-vous sûr de vouloir supprimer cet utilisateur ?')"
                                       title="Supprimer">
                                        <i class="material-icons red ">delete</i>
                                    </a>

                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col s12 center admin-gestion-btn">
            <a href="{{ path('admin_index') }}" class="waves-effect waves-light btn">Retour</a>
        </div>

    </div>

{% endblock %}
