{% extends 'base.html.twig' %}
{% block metaTitle %}Accueil{% endblock %}
{% block title %}Accueil{% endblock %}
{% block metaDesc %}Sur selonuneetude.fr nous vous proposons régulièrement des études réalisées dans différents
    domaines, des plus sérieuses aux plus insolites.
{% endblock %}
{% block metaWords %}étude, études, scientifique, insolite, santé{% endblock %}
{% block body %}
    <section class="row">
        <article class="col s12">
            <div class="z-depth-2 index-description">
                <p>
                    Sur selonuneetude.fr nous vous proposons régulièrement des études réalisées dans différents
                    domaines, des plus sérieuses aux plus insolites.
                </p>
                <p>
                    Cette version du site n'est qu'un début, nous continuons à travailler afin d'apporter de nouvelles
                    fonctionnalités et vous proposer une expérience toujours plus agréable.
                </p>
            </div>
        </article>
    </section>
    <section class="row">
        <article class="col m12 l8">
            <div class="block-etude z-depth-2">
                {% for le in lastEtudes %}
                <a href="{{ path('view_etude', {'slug': le.slug}) }}">
                    <div class="etude-list">
                        <div class="row">
                            <div class="etude-categorie">
                                   {{ le.categorie.nom }}
                            </div>
                            <div class="col m0 l3">
                                <div class="etude-img ">
                                    {% if le.categorie.image %}
                                    <img src="{{ asset('uploads/images/' ~ le.categorie.image.image) }}" alt="{{ le.categorie.image.image }}">
                                    {% else %}
                                    <img src="{{ asset('images/backgrounds/Mad_scientist_transparent_background.svg.png') }}" alt="etude">
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col m12 l9">
                                <div>
                                    {% if le.user %}
                                    <p>Dénichée par <strong>{{ le.user.username }}</strong>, le {{ le
                                        .dateValidation|date
                                            ('d-m-Y') }}
                                    </p>
                                    {% else %}
                                        <p>Dénichée par <strong>Anonyme</strong>, le {{ le.dateValidation|date
                                                ('d-m-Y') }}
                                        </p>
                                    {% endif %}
                                </div>
                                <div>
                                    <h3 class="valign-wrapper">{{ le.titre }}</h3>
                                </div>
                                <div class="etude-comments ">
                                    <i class="material-icons tiny">comment</i> - {{ le.commentaires|length }}
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                {% endfor %}
                {% if lastEtudes|length > 15 %}
                <div class="etudes-view-all center">
                    <a href="{{ path('view_all_etudes', {'page': 2}) }}">Voir la suite</a>
                </div>
                {% endif %}
            </div>
        </article>
        <aside class="col m12 l4">

        </aside>
        <aside class="col m12 l4 ">
            <div class="z-depth-2 last-actu">
                <div class="last-actu-label">
                    <p>Dernière actualité</p>
                </div>
                <a href="{{ path('view_one_actu', {'slug': lastActu.slug}) }}">
                <div class="last-actu-content">
                    <span>Le {{ lastActu.dateAjout|date('d-m-Y') }}</span>
                    <h3>{{ lastActu.titre }}</h3>
                </div>
                </a>
                <div class="last-actu-link">
                    <a href="{{ path('all_actualites') }}">Toutes les actualités</a>
                </div>
            </div>
        </aside>
        <aside class="col m12 l4">
            <div class="z-depth-2 all-cat">
                <div class="all-cat-label">
                    <p>Par catégorie</p>
                </div>
                <div class="all-cat-content">
                    {% for cat in categories %}
                        {% if cat.etudes|length %}

                        <a href="{{ path('view_etude_categorie', {'slug': cat.slug}) }}">
                            <p>| {{ cat.nom }} |</p>
                        </a>

                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </aside>
        <aside class="col m12 l4">
            <div class="z-depth-2 newsletter">
                <div class="newsletter-titre">
                    <p>Newsletter</p>
                </div>
                <div class="newsletter-block">
                    <div class="newsletter-text">
                        <p>
                            Inscrivez-vous à la newsletter pour recevoir régulièrement par e-mail les dernières études publiées.
                        </p>
                    </div>
                    <div>
                        {{ form_start(form) }}
                        <div class="newsletter-form">
                            {{ form_widget(form.email) }}
                            {{ form_errors(form.email) }}
                        </div>
                        <div class="newsletter-acceptTerms">
                            <label for="newsletter_acceptTerms" class="required">
                            {{ form_widget(form.acceptTerms) }}
                            <span>J'accepte les <a href="{{ path('mentions_legales') }}" target="_blank">conditions
                                    d'utilisation</a></span></label>
                            {{ form_errors(form.acceptTerms)}}
                        </div>
                        <div class="center">
                            {{ form_widget(form.valider) }}
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </aside>
    </section>
{% endblock %}
