{% extends 'base.html.twig' %}
{% block body %}
    <section class="row">
        <article class="col s12">
            <h1></h1>
            <p></p>
        </article>
    </section>
    <section class="row">
        <article class="col m12 l8">
            <div class="block-etude z-depth-2">
                {% for le in lastEtudes %}
                <a href="{{ path('view_etude', {'slug': le.slug}) }}">
                    <div class="etude-list">
                        <div class="row">
                            <div class="etude-categorie">
                                    {{ le.categorie.nom }}
                            </div>
                            <div class="col m0 l3">
                                <div class="etude-img">
                                    <img src="{{ asset('images/backgrounds/Mad_scientist_transparent_background.svg.png') }}">
                                </div>
                            </div>
                            <div class="col m12 l9">
                                <div>
                                    {% if le.user %}
                                    <p>Dénichée par <strong>{{ le.user.username }}</strong>, le {{ le.dateAjout|date
                                            ('d-m-Y') }}
                                    </p>
                                    {% else %}
                                        <p>Dénichée par <strong>Anonyme</strong>, le {{ le.dateAjout|date
                                                ('d-m-Y') }}
                                        </p>
                                    {% endif %}
                                </div>
                                <div>
                                    <h3 class="valign-wrapper">{{ le.titre }}</h3>
                                </div>
                                <div class="etude-comments ">
                                    <i class="material-icons tiny">comment</i> - 0
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </article>
        <aside class="col m12 l4">

        </aside>
        <aside class="col m12 l4 ">
            <div class="z-depth-2 last-actu">
                <div class="last-actu-label">
                    <p>Dernière actualité</p>
                </div>
                <a href="{{ path('view_one_actu', {'slug': lastActu.slug}) }}">
                <div class="last-actu-content">
                    <span>Le {{ lastActu.dateAjout|date('d-m-Y') }}</span>
                    <h3>{{ lastActu.titre }}</h3>
                    <p>{{ lastActu.texte|striptags|slice(0, 150) }} ...</p>
                </div>
                </a>
                <div class="last-actu-link">
                    <a href="{{ path('all_actualites') }}">Toutes les actualites</a>
                </div>
            </div>
        </aside>
        <aside class="col m12 l4">
            <div class="z-depth-2 all-cat">
                <div class="all-cat-label">
                    <p>Par catégorie</p>
                </div>
                <div class="all-cat-content">
                    {% for cat in categories %}
                        <a href="{{ path('view_etude_categorie', {'slug': cat.slug}) }}">
                            <p>{{ cat.nom }}</p>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </aside>
    </section>
{% endblock %}
