{% extends 'base.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/fbShare.js') }}"></script>
    <script src="{{ asset('js/twitterShare.js') }}"></script>
{% endblock %}
{% block share %}
    <link rel="me" href="https://twitter.com/twitterdev">
{% endblock %}
{% block body %}
   <section class="row index-description">
       <h1></h1>
       <p></p>
   </section>
    <section class="row">
        <div class="col m12 l8">
            <div class="row">
                {% for le in lastEtudes %}
                    <article class="col s12">
                        <div class="overview z-depth-2">
                            <div class="row reset">
                                <div class="col s12 overview-info">
                                    {% if le.user != NULL %}
                                        <p class="left">Dénichée par {{ le.user.username }}, le {{ le.dateAjout|date
                                                ('d-m-Y') }}</p>
                                    {% else %}
                                        <p class="left">Dénichée par <em>Anonyme</em>, le {{ le.dateAjout|date
                                                ('d-m-Y') }}</p>
                                    {% endif %}
                                    <p class="right">
                                        <a href="{{ path('view_etude_categorie', {'slug': le.categorie.slug}) }}">{{ le
                                            .categorie.nom }}</a>
                                    </p>
                                </div>
                                <div class="col s12 overview-text">
                                    <a href="{{ path('view_etude', {'slug': le.slug}) }}">
                                    <p>
                                        {{ le.texte|striptags|slice(0, 150) }}
                                        {% if le.texte|length > 150 %}
                                            ... <a href="{{ path('view_etude', {'slug': le.slug}) }}">Lire la suite</a>
                                        {% endif %}
                                    </p>
                                    </a>
                                </div>
                                <div class="col s12 overview-actions center">

                                    <div class="fb-like" data-href="{{ path('view_etude', {'slug': le.slug}) }}" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
                                    <a class="twitter-share-button"
                                       href="https://twitter.com/intent/tweet?text={{ le.titre }}" data-url="{{ path('view_etude', {'slug': le.slug}) }}">Tweet</a>
                                </div>
                            </div>
                        </div>
                    </article>
                {% endfor %}
            </div>
        </div>
        <div class="col m12 l4">
            <div class="row">
                <aside class="col s12 index-categories">
                    <div class="z-depth-2">
                        <div class="index-categories-titre center">
                            Par catégorie
                        </div>
                        <div class="index-categories-list">
                    {% for cat in categories %}
                            <p>
                                <a href="{{ path('view_etude_categorie', {'slug': cat.slug}) }}">
                                    {{ cat.nom }}
                                </a>
                            </p>
                    {% endfor %}
                        </div>
                    </div>
                </aside>
                <aside class="col s12 index-lastactu">
                    {% for la in lastActu %}
                        <div class="z-depth-2">
                            <div class="index-lastactu-date center">
                                Le {{ la.dateAjout|date('d-m-Y') }} à {{ la.dateAjout|date('H:i') }}
                            </div>
                            <div class="index-lastactu-titre">
                                <h3>{{ la.titre }}</h3>
                            </div>
                            <div class="index-lastactu-texte">
                                {{ la.texte|striptags|slice(0, 160) }} ... <a href="{{ path('view_one_actu', {'slug': la.slug}) }}">Lire la suite</a>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="center index-lastactu-link">
                        <p><a href="{{ path('all_actualites') }}">Voir toutes les actus</a></p>
                    </div>
                </aside>
                <aside class="col m6 offset-m3 l12 annonce">

                </aside>
                <aside class="col m6 offset-m3 l12 index-add-btn">
                    <div class="center">
                        <a href="{{ path('proposer_etude') }}" class="waves-effect waves-light btn z-depth-2">Proposer une étude</a>
                    </div>
                </aside>
                <aside class="col m6 offset-m3 l12 newsletter">

                </aside>
            </div>
        </div>

    </section>
{% endblock %}
