{% extends 'base.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/fbShare.js') }}"></script>
    <script src="{{ asset('js/twitterShare.js') }}"></script>
{% endblock %}
{% block share %}
    <link rel="me" href="https://twitter.com/twitterdev">
{% endblock %}
{% block body %}
    <section class="row">
        <article class="col m12 l8">
        <div class="block-etude z-depth-2">
            {% for ebc in etudeByCat %}
                <a href="{{ path('view_etude', {'slug': ebc.slug}) }}">
                    <div class="etude-list">
                        <div class="row">
                            <div class="etude-categorie">
                                {{ ebc.categorie.nom }}
                            </div>
                            <div class="col m0 l3">
                                <div class="etude-img">
                                    <img src="{{ asset('images/backgrounds/Mad_scientist_transparent_background.svg.png') }}">
                                </div>
                            </div>
                            <div class="col m12 l9">
                                <div>
                                    {% if ebc.user %}
                                        <p>Dénichée par <strong>{{ ebc.user.username }}</strong>, le {{ ebc.dateAjout|date
                                                ('d-m-Y') }}
                                        </p>
                                    {% else %}
                                        <p>Dénichée par <strong>Anonyme</strong>, le {{ ebc.dateAjout|date
                                                ('d-m-Y') }}
                                        </p>
                                    {% endif %}
                                </div>
                                <div>
                                    <h3 class="valign-wrapper">{{ ebc.titre }}</h3>
                                </div>
                                <div class="etude-comments ">
                                    <i class="material-icons tiny">comment</i> - 0
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
        </article>
        <aside class="col m12 l4">

        </aside>
        <aside class="col m12 l4 ">
                <div class="z-depth-2 last-actu last-five-actu">
                    <div class="last-actu-label">
                        <p>Autres études</p>
                    </div>
                    {% for lf in lastFive %}
                        <a href="{{ path('view_etude', {'slug': lf.slug}) }}">
                            <div class="last-actu-content">
                                <span>Le {{ lf.dateAjout|date('d-m-Y') }}</span>
                                <h3>{{ lf.titre }}</h3>
                                <p>{{ lf.texte|striptags|slice(0, 150) }} ...</p>
                            </div>
                        </a>
                    {% endfor %}
                    <div class="last-actu-link">
                        <!--
                        <a href="">Tout voir</a>
                        -->
                    </div>
                </div>
        </aside>
    </section>
{% endblock %}
