{% extends 'base.html.twig' %}
{% block metaTitle %}{{ etude.titre }}{% endblock %}
{% block title %}{{ etude.titre }}{% endblock %}
{% block metaDesc %}{{ etude.texte|striptags|slice(0, 200) }}{% endblock %}
{% block metaWords %}{{ etude.categorie.nom }}, études, étude{% endblock %}
{% block share %}
    <meta property="og:url"           content="{{ path('view_etude', {'slug': etude.slug}) }}" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="{{ etude.titre }}" />
    <meta property="og:description"   content="{{ etude.texte|striptags|slice(0, 200) }}" />
    <meta property="og:image"         content="{{ asset('uploads/images/' ~ etude.categorie.image.image) }}" />
    <link rel="me" href="https://twitter.com/selonuneetudefr">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/fbShare.js') }}"></script>
    <script src="{{ asset('js/twitterShare.js') }}"></script>
    <script src="{{ asset('js/tooltip.js') }}"></script>
    <script src="{{ asset('js/scrollspy.js') }}"></script>
    <script src="{{ asset('js/froala_editor.min.js') }}"></script>
    <script src="{{ asset('js/fr.js') }}"></script>
    <script src="{{ asset('js/emoticons.min.js') }}"></script>
    <script src="{{ asset('js/align.min.js') }}"></script>
    <script src="{{ asset('js/quote.min.js') }}"></script>
    <script src="{{ asset('js/image.min.js') }}"></script>
    <script src="{{ asset('js/image_manager.min.js') }}"></script>
    <script src="{{ asset('js/link.min.js') }}"></script>
    <script src="{{ asset('js/list.min.js') }}"></script>
{% endblock %}
{% block body %}

    <section class="row">
        <article class="col s12 m12 l8 ">
            <div class="view-etude z-depth-2">
                <div class="etude-categorie">
                    {{ etude.categorie.nom }}
                </div>
                <div class="view-etude-first">
                    <div>
                        {% if etude.categorie.image %}
                            <img src="{{ asset('uploads/images/' ~ etude.categorie.image.image) }}" alt="{{ etude.categorie.image.image }}">
                        {% else %}
                            <img src="{{ asset('images/backgrounds/Mad_scientist_transparent_background.svg.png') }}" alt="etude">
                        {% endif %}
                    </div>
                    <div class="view-etude-main">
                        {% if etude.user %}
                            <p>Dénichée par <strong>{{ etude.user.username }}</strong>, le {{ etude.dateValidation|date
                                    ('d-m-Y') }}
                            </p>
                        {% else %}
                            <p>Dénichée par <strong>Anonyme</strong>, le {{ etude.dateValidation|date
                                    ('d-m-Y') }}
                            </p>
                        {% endif %}
                        <h1>{{ etude.titre }}</h1>
                        <div class="view-etude-sources">
                            <p>Sources :</p>
                            <ul>
                            {% for src in etude.sources %}
                                <li>
                                    <i class="tiny material-icons">link</i>
                                    <a href="{{ src.nom }}" target="_blank">
                                     {{ src.nom }}
                                    </a>
                                </li>
                            {% endfor %}
                            </ul>
                        </div>
                        <div>
                            <div class="fb-like" data-href="{{ path('view_etude', {'slug': etude.slug}) }}" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
                            <a class="twitter-share-button"
                               href="https://twitter.com/intent/tweet?text={{ etude.titre }}" data-url="https://selonuneetude.fr/etude/{{ etude.slug }}">Tweet</a>
                        </div>
                    </div>
                </div>
                <div class="view-etude-text fr-view">
                    {{ etude.texte|raw }}
                </div>
            </div>
        </article>
        <aside class="col s12 m12 l4">

        </aside>
        <aside class="col s12 m12 l4 ">
            {% if sameCat %}
                <div class="z-depth-2 last-actu last-five-actu">
                    <div class="last-actu-label">
                        <p>Dans la même catégorie</p>
                    </div>
                    {% for sc in sameCat %}
                        <a href="{{ path('view_etude', {'slug': sc.slug}) }}">
                            <div class="last-actu-content">
                                <span>Le {{ sc.dateValidation|date('d-m-Y') }}</span>
                                <h3>{{ sc.titre }}</h3>
                            </div>
                        </a>
                    {% endfor %}
                    <div class="last-actu-link">
                        <a href="{{ path('view_etude_categorie', {'slug': etude.categorie.slug}) }}">Tout voir</a>
                    </div>
                </div>
            {% endif %}
        </aside>
    </section>
    <section class="row">
        <article class="col s12 m12 l8">

        </article>
    </section>
    <section class="row">
        <article class="col s12 m12 l8 ">
            <div class="block-comments z-depth-2">
                <div class="bandeau-comments">
                    <p>{{ etude.commentaires|length }} commentaires</p>
                    <p><a href="#ancre-comments">Ecrire un commentaire</a></p>
                </div>
                <div>
                    {% for com in etude.commentaires %}
                        <div id="commentaire-{{ com.id }}" class="all-comments z-depth-2">
                            <div class="all-comments-infos">
                                <p>
                                    Par <strong>{{ com.user.username }}</strong>
                                    le {{ com.dateAjout|date('d-m-Y') }} à {{ com.dateAjout|date('H:i') }}
                                </p>
                                {% if com.actif == true %}
                                <a href="{{ path('etude_signale_comment', {'id': com.id}) }}"
                                        class="signale tooltipped" data-position="top" data-tooltip="Signaler ce
                                commentaire" onclick="return confirm('Etes-vous sûr de vouloir signaler ce ' +
                                 'commentaire' +
                                 ' ?')">
                                    <i class="material-icons">report</i>
                                </a>
                                {% endif %}
                            </div>
                            <div class="all-comments-texte fr-view">
                                {% if com.actif != true %}
                                    <em>Ce commentaire est jugé inapproprié et a été modéré.</em>
                                {% else %}
                                {{ com.texte|raw }}
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <span id="ancre-comments" class="scrollspy"></span>
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') or is_granted('IS_AUTHENTICATED_FULLY') %}
                        <div class="block-comments-instructions">
                            <p>Pour que les discussions restent agréables, nous vous remercions de rester poli et
                                courtois. Tout message jugés inappropriés seront modérés.</p>
                        </div>
                        {{ form_start(form) }}
                        <div>
                            {{ form_label(form.texte, 'Votre message :') }}
                            {{ form_widget(form.texte) }}
                            {{ form_errors(form.texte) }}
                        </div>
                        <div class="center">
                            {{ form_widget(form.envoyer) }}
                        </div>
                        {{ form_end(form) }}
                    {% else %}
                        <p>
                            Vous devez être <a href="{{ path('login') }}">connecté</a> pour écrire un commentaire.
                        </p>
                        <p>
                            Pas encore de compte ? <a href="{{ path('user_registration') }}">Inscrivez-vous</a> simplement en quelque secondes.
                        </p>
                    {% endif %}
            </div>
        </article>
    </section>
{% endblock %}
