{% extends 'base.html.twig' %}
{% block share %}
    <meta property="og:url"           content="{{ path('view_etude', {'slug': etude.slug}) }}" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="{{ etude.titre }}" />
    <meta property="og:description"   content="{{ etude.texte }}" />
    <meta property="og:image"         content="" />
    <link rel="me" href="https://twitter.com/twitterdev">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/fbShare.js') }}"></script>
    <script src="{{ asset('js/twitterShare.js') }}"></script>
{% endblock %}
{% block body %}

    <section class="row">
        <article class="col m12 l8 ">
            <div class="view-etude z-depth-2">
                <div class="etude-categorie">
                    {{ etude.categorie.nom }}
                </div>
                <div class="view-etude-first">
                    <div>
                        <img src="{{ asset('images/backgrounds/Mad_scientist_transparent_background.svg.png') }}">
                    </div>
                    <div class="view-etude-main">
                        {% if etude.user %}
                            <p>Dénichée par <strong>{{ etude.user.username }}</strong>, le {{ etude.dateAjout|date
                                    ('d-m-Y') }}
                            </p>
                        {% else %}
                            <p>Dénichée par <strong>Anonyme</strong>, le {{ etude.dateAjout|date
                                    ('d-m-Y') }}
                            </p>
                        {% endif %}
                        <h1>{{ etude.titre }}</h1>
                        <div class="view-etude-sources">
                            <p>Sources :</p>
                            <ul>
                            {% for src in etude.sources %}
                                <li>
                                    <i class="tiny material-icons">link</i>
                                    <a href="{{ src.nom }}" target="_blank">
                                     {{ src.nom }}
                                    </a>
                                </li>
                            {% endfor %}
                            </ul>
                        </div>
                        <div>
                            <div class="fb-like" data-href="{{ path('view_etude', {'slug': etude.slug}) }}" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
                            <a class="twitter-share-button"
                               href="https://twitter.com/intent/tweet?text={{ etude.titre }}" data-url="{{ path('view_etude', {'slug': etude.slug}) }}">Tweet</a>
                        </div>
                    </div>
                </div>
                <div class="view-etude-text">
                    {{ etude.texte|raw }}
                </div>
            </div>
        </article>
        <aside class="col m12 l4">

        </aside>
        <aside class="col m12 l4 ">
            {% if sameCat %}
                <div class="z-depth-2 last-actu last-five-actu">
                    <div class="last-actu-label">
                        <p>Dans la même catégorie</p>
                    </div>
                    {% for sc in sameCat %}
                        <a href="{{ path('view_etude', {'slug': sc.slug}) }}">
                            <div class="last-actu-content">
                                <span>Le {{ sc.dateAjout|date('d-m-Y') }}</span>
                                <h3>{{ sc.titre }}</h3>
                                <p>{{ sc.texte|striptags|slice(0, 150) }} ...</p>
                            </div>
                        </a>
                    {% endfor %}
                    <div class="last-actu-link">
                        <a href="{{ path('view_etude_categorie', {'slug': etude.categorie.slug}) }}">Tout voir</a>
                    </div>
                </div>
            {% endif %}
        </aside>
    </section>




{% endblock %}
