{% extends 'base.html.twig' %}
{% block metaTitle %}

{% endblock %}
{% block title %}
    Toutes les études
{% endblock %}
{% block metaDesc %}
    Toutes les études
{% endblock %}
{% block metaWords %}
    études, étude, publiées
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/pagination.js') }}"></script>
{% endblock %}
{% block body %}

<section class="row">
    <article class="col m12 l8">
        <div class="block-etude z-depth-2">
            {% for e in etudes %}
                <a href="{{ path('view_etude', {'slug': e.slug}) }}">
                    <div class="etude-list">
                        <div class="row">
                            <div class="etude-categorie">
                                {{ e.categorie.nom }}
                            </div>
                            <div class="col m0 l3">
                                <div class="etude-img">
                                    {% if e.categorie.image %}
                                        <img src="{{ asset('uploads/images/' ~ e.categorie.image.image) }}" alt="{{ e.categorie.image.image }}">
                                    {% else %}
                                        <img src="{{ asset('images/backgrounds/Mad_scientist_transparent_background.svg.png') }}" alt="etude">
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col m12 l9">
                                <div>
                                    {% if e.user %}
                                        <p>Dénichée par <strong>{{ e.user.username }}</strong>, le {{ e.dateValidation|date
                                                ('d-m-Y') }}
                                        </p>
                                    {% else %}
                                        <p>Dénichée par <strong>Anonyme</strong>, le {{ e.dateValidation|date
                                                ('d-m-Y') }}
                                        </p>
                                    {% endif %}
                                </div>
                                <div>
                                    <h3 class="valign-wrapper">{{ e.titre }}</h3>
                                </div>
                                <div class="etude-comments ">
                                    <i class="material-icons tiny">comment</i> - 0
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </article>
    <aside class="col m12 l4">
        <div class="z-depth-2 newsletter">
            <div class="newsletter-titre">
                <p>Newsletter</p>
            </div>
            <div class="newsletter-block">
                <div class="newsletter-text">
                    <p>
                        Inscrivez-vous à la newsletter pour recevoir régulièrement par e-mail les dernières études publiées.
                    </p>
                </div>
                <div>
                    {{ form_start(form) }}
                    <div class="newsletter-form">
                        {{ form_label(form.email, 'Votre e-mail') }}
                        {{ form_widget(form.email) }}
                        {{ form_errors(form.email) }}
                    </div>
                    <div class="newsletter-acceptTerms">
                        {{ form_widget(form.acceptTerms) }}
                        <label for="newsletter_acceptTerms" class="required">J'accepte les <a href="{{ path('mentions_legales') }}" target="_blank">conditions
                                d'utilisation</a></label>
                        {{ form_errors(form.acceptTerms)}}
                    </div>
                    <div class="center">
                        {{ form_widget(form.valider) }}
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </aside>
    <ul class="col m12 l8 pagination center">
        {% if nbPages > 1 %}
            {% if page > 1 %}
                <li>
                    <a class="chevron-gauche" href="{{ path('view_all_etudes', {'page': page - 1}) }}"> &lang; </a>
                </li>
            {% endif %}

            {% for p in range(1, nbPages) %}
                <li{% if p == page %} class="active"{% endif %}>
                    <a href="{{ path('view_all_etudes', {'page': p}) }}" class="current-page">{{ p }}</a>
                </li>
            {% endfor %}
            {% if page < nbPages %}
                <li>
                    <a href="{{ path('view_all_etudes', {'page': page + 1}) }}">
                        &rang; </a>
                </li>
            {% endif %}
        {% endif %}
    </ul>

</section>
{% endblock %}
