{% extends 'base.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/addAndDeleteSource.js') }}"></script>
    <script src="{{ asset('js/froala_editor.min.js') }}"></script>
    <script src="{{ asset('js/fr.js') }}"></script>
    <script src="{{ asset('js/emoticons.min.js') }}"></script>
    <script src="{{ asset('js/align.min.js') }}"></script>
    <script src="{{ asset('js/quote.min.js') }}"></script>
    <script src="{{ asset('js/image.min.js') }}"></script>
    <script src="{{ asset('js/image_manager.min.js') }}"></script>
    <script src="{{ asset('js/link.min.js') }}"></script>
    <script src="{{ asset('js/list.min.js') }}"></script>
    <script src="{{ asset('js/video.min.js') }}"></script>
{% endblock %}
{% block body %}
    {% include 'admin/nav/navAdmin.html.twig' %}
<section class="row">
    <article class="col s8 offset-s2 admin-modif-etude z-depth-2">
        {{ form_start(form) }}
        <div>
            {{ form_label(form.categorie) }}
            {{ form_widget(form.categorie) }}
            {{ form_errors(form.categorie) }}
        </div>
        <div class="proposer-etude-divider">
            {{ form_label(form.titre, 'Titre de l\'étude') }}
            {{ form_widget(form.titre) }}
            {{ form_errors(form.titre) }}
        </div>
        <div>
            {{ form_widget(form.texte) }}
            {{ form_errors(form.texte) }}
        </div>
       <div>
            {{ form_row(form.sources) }}
        </div>
        <div class="center">
            {{ form_widget(form.valider) }}
        </div>
        {{ form_end(form) }}
    </article>
</section>
{% endblock %}