{% extends 'base.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/froala_editor.min.js') }}"></script>
    <script src="{{ asset('js/fr.js') }}"></script>
    <script src="{{ asset('js/emoticons.min.js') }}"></script>
    <script src="{{ asset('js/align.min.js') }}"></script>
    <script src="{{ asset('js/quote.min.js') }}"></script>
    <script src="{{ asset('js/image.min.js') }}"></script>
    <script src="{{ asset('js/image_manager.min.js') }}"></script>
    <script src="{{ asset('js/link.min.js') }}"></script>
    <script src="{{ asset('js/video.min.js') }}"></script>
{% endblock %}
{% block body %}
    {% include 'admin/nav/navAdmin.html.twig' %}
    <section class="row admin-view-etude">
            <article class="col m12 l8 ">
                <div class="view-etude z-depth-2">
                    <div class="etude-categorie">
                        {{ etude.categorie.nom }}
                    </div>
                    <div class="view-etude-first">
                        <div>
                            {% if etude.categorie.image %}
                                <img src="{{ asset('uploads/images/' ~ etude.categorie.image.image) }}" alt="{{ etude.categorie.image.image }}">
                            {% else %}
                                <img src="{{ asset('images/backgrounds/Mad_scientist_transparent_background.svg.png') }}" alt="etude">
                            {% endif %}
                        </div>
                        <div class="view-etude-main">
                            {% if etude.user %}
                                <p>Dénichée par <strong>{{ etude.user.username }}</strong>, le {{ etude.dateAjout|date
                                        ('d-m-Y') }}
                                </p>
                            {% else %}
                                <p>Dénichée par <strong>Anonyme</strong>, le {{ etude.dateAjout|date
                                        ('d-m-Y') }}
                                </p>
                            {% endif %}
                            <h1>{{ etude.titre }}</h1>
                            <div class="view-etude-sources">
                                <p>Sources :</p>
                                <ul>
                                    {% for src in etude.sources %}
                                        <li>
                                            <a href="{{ src.nom }}" target="_blank">
                                                <i class="tiny material-icons">link</i> {{ src.nom }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="view-etude-text fr-view">
                        {{ etude.texte|raw }}
                    </div>
                    <hr>
                    <div class="center">
                        <a href="{{ path('admin_modif_etude', {'slug': etude.slug}) }}" class="btn wave-effects">
                            Modifier
                        </a>
                    </div>
                </div>
            </article>
        </section>
    <section class="row">
        <article class="col m12 l8 admin-motif-refus">
            {% if etude.refuse == false %}
            {{ form_start(form) }}
            <div>
                {{ form_label(form.motifRefus) }}
                {{ form_widget(form.motifRefus) }}
                {{ form_errors(form.motifRefus) }}
            </div>
            <div class="center">
                {{ form_widget(form.valider) }}
            </div>
            {{ form_end(form) }}
            {% else %}
                <div class="view-etude-refus z-depth-2">
                    <h3 class="center">Cette étude a été refusé pour la/les raison(s) suivante(s)</h3>
                    <p>{{ etude.motifRefus|raw }}</p>
                    <hr>
                    <div class="refus-remerciement">
                        <p>Vous pouvez toutefois <a href="{{ path('proposer_etude') }}">soummettre</a> à nouveau cette étude en corrigeant les points indiqués dans le motif du refus.</p>
                        <p>Nous vous remercions pour votre participation et nous espérons que vous soummettrez de nouvelles études
                            prochainement ! :-)</p>
                    </div>
                </div>
            {% endif %}
        </article>
    </section>
{% endblock %}
