{% extends 'base.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/admintables.js') }}"></script>
{% endblock %}
{% block body %}
    {% include 'admin/nav/navAdmin.html.twig' %}
    <div class="row">
        <div id="admin" class="col s12 admin-gestion-table">
            <div class="card material-table">
                <div class="table-header">
                    <span class="table-title">Gestion des contacts</span>
                    <div class="actions">
                        <a href="#" class="search-toggle waves-effect btn-flat nopadding"><i class="material-icons">search</i></a>
                    </div>
                </div>
                <table id="" class="datatable">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Utilisateur</th>
                        <th>Sujet</th>
                        <th>Statut</th>
                        <th class="center">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for c in contacts|reverse %}
                        <tr>
                            <td>{{ c.dateEnvoie|date('d-m-y') }}</td>
                            <td>{{ c.pseudo }}</td>
                            <td>{{ c.sujet|slice(0, 25) }}</td>

                                {% if c.status == false %}
                                    <td class="red-text">
                                        En attente
                                    </td>
                                {% else %}
                                    <td class="green-text">
                                        Traité
                                    </td>
                                {% endif %}
                            <td class="gestion-actions center">
                                <a href="{{ path('admin_view_contact', {'id': c.id}) }}"
                                   title="Voir" >
                                    <i class="material-icons blue">visibility</i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col s12 center admin-gestion-btn">
            <a href="{{ path('admin_index') }}" class="waves-effect waves-light btn">Retour</a>
        </div>
    </div>
{% endblock %}
